* {
  font-family: "Roboto", sans-serif;
}
.footer-down {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.footer-content {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.521);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
